extends layout

block content
  h1= title
  p Welcome to #{title}

  ul
    li
      a(href="/queue") Queue details
    li
      a(href="/create") Create task
    li
      a(href="/leasedelete") Lease one task and delete it
